
body {
    padding: 0;
    margin: 0;
}

@font-face {
  font-family: 'montserratregular';
  src: url('../font/omnia/montserrat-webfont.eot');
  src: url('../font/omnia/montserrat-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/omnia/montserrat-webfont.woff') format('woff'),
       url('../font/omnia/montserrat-webfont.ttf') format('truetype'),
       url('../font/omnia/montserrat-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

#heading_1 {
  font-size: 34px;
  line-height: 30px;
  font-family: "montserratregular", sans-serif;
}

.navbar {
  border-top: 4px solid #c0761a;
  background-color: #34302d;
  margin-bottom: 0px;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

.container{
    padding-bottom: 5%;
}

#bs-example-navbar-collapse-1{
    color: #fff;
    float: right;
}

.navbar-heading-1{
  font-size: 44px;
  line-height: 53px;
  font-family: "montserratregular", sans-serif;
  color: white;
  font-weight: bold;
  position: absolute;
  margin: 1% auto;
  left: 8%;
}

.navbar-heading-2{
  font-size: 54px;
  line-height: 53px;
  font-family: "montserratregular", sans-serif;
  color: #c0761a;
  position: absolute;
  margin: 1% auto;
  left: 15%;
  font-weight: bold;
}

#bs-example-navbar-collapse-1 > ul {
    list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
}

.navbar-nav navbar-right > li {
    float: right;
}
